:root {
    --image: ;
}

h1 {
    -ms-flex-align: center;
    margin: auto;
    width: fit-content;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    margin-right: 0;
    margin-left: 0;
    
}

body {
    background: linear-gradient(-45deg, #23a6d5, #54d3d3, #23d5ab, #41db9b);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Sono', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#Nav {
    width: 45vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 8vw;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}




#Nav> :nth-child(1) {
    position: relative;
    width: 20vw;
    height: 12.5vw;
    background-color: white;
    border-radius: 25px;
    transition: 1s;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



#Blacktext:any-link {
    color: black;
    text-decoration: none;
}

#Whitetext:any-link {
    color: white;
    text-decoration: none;
}


#Nav> :nth-child(4) {
    position: relative;
    width: 20vw;
    height: 12.5vw;
    background-color: white;
    border-radius: 25px;
    transition: 1s;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#Nav> :nth-child(2) {
    position: relative;
    width: 20vw;
    height: 12.5vw;
    background-color: black;
    border-radius: 25px;
    transition: 1s;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Nav> :nth-child(3) {
    position: relative;
    width: 20vw;
    height: 12.5vw;
    background-color: black;
    border-radius: 25px;
    transition: 1s;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Nav> :nth-child(1):hover {
    transition: 1s;
    scale: 110%;
}

#Nav> :nth-child(2):hover {
    transition: 1s;
    scale: 110%;
}

#Nav> :nth-child(3):hover {
    transition: 1s;
    scale: 110%;
}

#Nav> :nth-child(4):hover {
    transition: 1s;
    scale: 110%;
}


button {
    border-radius: 25px;
    width: 175px;
    height: 50px;
    margin-right: 1vw;
    margin-top: 2vw;
    color: red;
    background-color: black;
    font-size: 2vw;

}

button:active {
    transform: translateY(5px);
    scale: 95%;
}

.User {
    flex-basis: auto;
    background-image: var(--image); 
    background-size: cover;
    width: 5vw;
    height: 5vw;
    border-radius: 50px;
    margin-top: 1vw;
    margin-left: 1vw;
    position: absolute;
}

.User:hover{
animation: pulse 3s infinite ease-in-out ;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 0px white;
    }

    50% {
        box-shadow: 0px 0px 15px 15px white;
    }

    100% {
        box-shadow: 0px 0px 0px 0px white;
    }
}

.Menu{
    width: 10vw;
    height: 15vw;
    background-color: #161b22;
    position: absolute;
    border-radius: 10px;
    -webkit-transition: 1s;
    display: flex;
    color: white;
    
}


.header {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#subUser{
    width: 3vw;
    height: 3vw;
    -webkit-transition: 1s;
    box-shadow: 0px 0px 3px 3px white;
}

#greet1{
    font-size: 1vw;
    margin-top: 60%;
    margin-left: 5%;
    text-decoration: underline;
    height: fit-content;
    position: absolute;
}

#greet2{
    font-size: 1vw;
    margin-top: 75%;
    margin-left: 5%;
    text-decoration: underline;
    height: fit-content;
    position: absolute;
    max-width: 95%;
    word-wrap:break-word;
}

#logoutlink{
    font-size: 1vw;
    margin-top: 110%;
    margin-left: 5%;
    text-decoration: underline;
    height: fit-content;
    position: absolute;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 95%;
}
