
:root{
    --height: 150%;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(14, 7, 29);
}

h1 {
    -ms-flex-align: center;
    margin: auto;
    width: fit-content;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 5vw;
    color: black;
    margin-right: 0;
    margin-left: 0;

}

a {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:any-link {
    text-decoration: none;
}

button {
    border-radius: 50%;
    width: 175px;
    height: 90px;
    margin-right: 1vw;
    margin-top: 1vw;
    color: #0f27bf;
    background-color: white;
    font-size: 2vw;

}

button:active {
    transform: translateY(5px);
    scale: 95%;
}

.butdiv {
    margin-left: 24vw;
    margin-right: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.Tournamentdiv{
    padding-bottom: 20px;
    display: grid; 
    grid-template-columns: 5fr; 
    grid-template-rows: 5fr 10fr; 
    gap: 6% 0%; 
    grid-template-areas: 
      ". ."
      ". ."; 
    box-shadow: 0px 0px 10px 10px white;
    animation: fadeup 2s;
    animation-timing-function: cubic-bezier(.24,.4,.44,1.07);
}

#placementid{
    min-height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    text-align: center;
    background-color: white;
    border: solid 2px grey;
    font-size: 2vw;
    margin-top: 10px;
    margin-bottom: 5px;
}


  #placementid:before {
    content: attr(data-place) ". ";
    padding-right: 25%;
  }

.Placement{
    overflow-y: auto;
    overflow: scroll;
    justify-self: center;
    width: 95%;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@keyframes fadeup {
    0%   {
        opacity: 0%;
        transform: translateY(100px);
    }

    100%{
        opacity: 100%;
    }
}

.Tournamentgrid{
    max-height: 100vw;
    height: var(--height);
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: inline-grid;
    width: 95%;
    grid-template-rows: repeat(auto-fill, 20vw);
    grid-template-columns: [row1-start] 45% [last-line] 45%;
    gap: 5%;

    
}

h2{
    -ms-flex-align: center;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}







