<html>

<head>
    <title>Player <%= PlayerId %>
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="/site_favicon_16_1664892280095.ico" />
    <link rel="stylesheet" href="/DynPlayer.css">
</head>

<body onload=loadname()>
    <h1> <a id="header" href="/Players"></a> </h1>

    <div id="center">
        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>

    <script>


        let id = <%= PlayerId%>;

        let name;

        function loadname() {
            fetch('/getplayers', {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' },

            })
                .then(response => response.text())
                .then(text => JSON.parse(text))
                .then(players => {
                    let arr = [...players]
                    arr.forEach(player => {
                        if (player.id == id) {

                            name = player.Name;
                        }

                    })
                    document.getElementById("header").innerHTML = name;
                })
        }


        fetch(`/getData/${id}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },


        })
            .then(response => response.text())
            .then(text => JSON.parse(text))
            .then(players => {
                let arr = Array();
                let player = Object.values(players[0])

                for (let i = 1; i < player.length; i++) {
                    let obj = {};
                    obj["Rating"] = parseInt(player[i].split(":")[0]) 
                    obj["Monate"] = i
                    arr.push(obj)
                }
                let center = document.getElementById("center");
                center.append(

                    Plot.plot({
                        inset: 10,
                        y : {domain: [0, 3000]},
                        marks: [
                            Plot.frame({ fill: "#eaeaea" }),
                            Plot.gridY({ stroke: "#fff", strokeOpacity: 1 }),
                            Plot.gridX({ stroke: "#fff", strokeOpacity: 1 }),
                            Plot.line(arr, { x: "Monate", y: "Rating" })
                        ]
                    }))
            })



    </script>

</body>

</html>