<!DOCTYPE html>
<html>
<head>
  <title>Tournament <%= tournamentId %></title>
</head>
<body>
  <h1>Tournament <%= tournamentId %></h1>


  <p><a href="/tournaments">Back to tournaments</a></p>
</body>
</html>